@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,100&display=swap');
body {
    background-color: aquamarine;
    text-align: center;
    font-family: 'Azeret Mono', monospace;
}
h1{
    color:black;
    padding: 10px 10px;
    font-size: 2.5em;
}
h2{
    color:burlywood;
    padding: 5px 5px;
}
p{
    font-size: 1.5em;
}
#photo{
    height: 200px;
    width: 200px;
}
img{
    border: 5px solid black;
    border-radius: 10px;
}
#work{
    height: 300px;
    width: 500px;
}